.body {
    margin: 0;
    padding: 0;
  }
   
  .regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
   
  
   
  .nav {
    background-color:  #352ba5;
    color: #fff;
    padding-top: 5px;
  }
   
  .header {
    background-color:  #13124f;
    color: #fff;
    padding: 40px 30px;
  }
   
  .header p {
    margin-bottom: 20px;
  }
  .btn {
    background-color: #f61067;
    color: #fff;
    border-radius: 0%;
    padding: 5px 10px;
  }
  .video {
    background: #fff;
    float: left;
    width: 70%;
    padding: 30px 20px 0px 30px;
  }
  .video p {
    padding-bottom: 10px;
  }
  .video iframe {
    width: 100%;
    height: 500px;
  }
  .alert {
    background: #9090a5;
    color: #fff;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 0%;
  }
   
  .right {
    background: #fff;
    float: left;
    width: 30%;
    height: 70%;
  }
   
  .pink {
    margin: 30px 10px 20px 5px;
  }
  .message {
    background: #f61067;
    text-align: center;
    margin-bottom: 20px;
  }
  .grey {
    background:  #9090a5;
    color: #fff;
    padding: 12px;
  }
   
  .top {
    background:  #13124f;
    padding: 10px;
  }
   
  .top p {
    color: #fff;
    font-size: 14px;
  }
   
  .form-control {
    background: #1b1b6c;
    color: #fff;
    border-top:  #9090a5 2px solid;
    border-bottom:  #9090a5 4px solid;
    border-left: 0cap;
    border-right: 0cap;
    color:  #9090a5;
  }
   
  .bottom {
    background-color:  #352ba5;
    padding: 10px 30px;
    text-align: center;
    font-size: 10px;
  }
  .send {
    background: #f61067;
    width: 100%;
    border-radius: 0%;
    text-align: center;
  }
   
  .vote {
    background: #fff;
    border:  #9090a5 solid 0.5px;
    padding: 10px;
    margin: 20px 0px;
    width: 100%;
    height: auto;
  }
   
  .vote p {
    line-height: 2cap;
    font-size: 14px;
    font-weight: 500;
  }
   
  .left-btn .btn {
    padding: 10px 30px;
    margin-top: 10px;
    float: left;
    margin-right: 15px;
    width: 47.8%;
  }
   
  .right-btn .btn {
    background: #fff;
    color: #2ad392;
    font-weight: 500;
    border: 2px #2ad392 solid;
    display: inline-block;
    padding: 10px 26px;
    margin-top: 10px;
    width: 47.8%;
  }
   
  .box {
    width: 75%;
    height: 10px;
    background: #f61067;
    float: left;
    margin-bottom: 10px;
  }
   
  .box1 {
    width: 25%;
    height: 10px;
    background: #2ad392;
    float: right;
  }
  .footer {
    background-color:  #13124f;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
  }
   
  .clear {
    clear: both;
  }
   
  @media only screen and (max-width: 600px) {
    .header {
      padding: 20px 15px;
    }
   
    .video {
      width: 100%;
      padding: 30px 30px 0px 30px;
    }
    .video iframe {
      width: 100%;
      height: 300px;
    }
   
    .right {
      width: 100%;
      height: auto;
      margin-top: 20px;
    }
   
    .alert {
      padding: 10px 15px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
   
    .message {
      margin: 5px 0px;
    }
    .pink {
      margin: 0px 30px 0px 30px;
    }
    .vote {
      margin-top: 5px;
    }
   
    .left-btn .btn {
      width: 100%;
      margin: 5px 0;
    }
    .right-btn .btn {
      width: 100%;
      margin: 5px 0;
    }
  }
   
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    .header {
      padding: 30px 20px;
    }
   
    .video {
      width: 70%;
      padding: 25px 15px 0px 25px;
    }
   
    .right {
      width: 30%;
      height: auto;
    }
    .video iframe {
      height: 400px;
    }
   
    .alert {
      margin-bottom: 10px;
    }
    .left-btn .btn,
    .right-btn .btn {
      width: 100%;
    }
  }
   
  @media only screen and(min-width: 1025px) {
    .header {
      padding: 40px 30px;
    }
   
    .video {
      width: 75%;
      padding: 30px 20px 0px 30px;
    }
   
    .left-btn,
    .right-btn {
      float: left;
      width: 50%;
    }
   
    iframe {
      height: 500px;
    }
  }